@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,500;1,700;1,900&display=swap');
body {
  background-color: teal;
  color: white;
}
h1, h2, h3 {
  font-family: Roboto;
  font-weight: 800;
}
.App {
  text-align: center;
  background-color: teal;
}

.App-logo {
  height: 200px;
  width:200px;
  pointer-events: none;
  background-color:#35495e;
  border-radius: 9999px;
  border: 1px solid #35495e;
  margin-top:20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.copyright {
  background: black;
  height: 2rem;
  padding: 1em;
  color: white;
}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #26b99a;;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  flex-direction: row;
}


.brand-name {
  text-decoration: none;
  color: whitesmoke;
  font-size: 2rem;
  margin-left: 3rem;
  text-shadow: 1px 1px 2px black;

}
.navigation-menu.expanded {
  background-color: red;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
  padding-right: 3rem;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
}
.navigation-menu.expanded li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
  font-weight: 700;
  text-shadow: 1px 1px 2px yellow;
}
@media screen and (max-width: 768px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
/* navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;
    top: 60px;
    left: 0;
/* stacks the li tags vertically */
    flex-direction: column;
/* makes menu span full height and width */
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
/* centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
/* increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #35495e;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
   position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #008080;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    /* previous styles */
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}

.blog-post-intro {
  width:80vw;
  margin: auto;
}